<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/genre-style.css}" rel="stylesheet" />
</head>
<body>
  <div>
      <table>
          <tr>
              <th>Url</th>
              <th>Href</th>
              <th>Name</th>
              <th>Slug</th>
          </tr>
          <tr th:each="genre:${genres}" >
              <td th:text="${genre.getUrl()}"></td>
              <td th:text="${genre.getHref()}"></td>
              <td th:text="${genre.getName()}"></td>
              <td th:text="${genre.getSlug()}"></td>
          </tr>
      </table>
      <p th:if="Empty" th:text="${Empty}"></p>
  </div>
</body>
</html>